{{user.username}}
{{#each comment}}
	<div class="comment-item" id="comment-{{_id}}">
		<p>{{content}}</p>
		{{#if ../user}}
			<a href="/posts/{{post_id}}/comments/{{_id}}" class="delete">Delete</a>
			<a href="/posts/{{post_id}}/comments/{{_id}}" class="edit">Edit</a>
		{{/if}}
		<h4>{{author}} | {{datum date}}</h4>
	</div>
	{{else}}
		<p id="no-c">There are no comments!</p>
{{/each}}y