<a href="http://localhost:3000" id="post-home">Home</a>
<a id="post-menu" href="">Menu</a>

	{{#if user}}
		<a id="edit-post" href="http://localhost:3000/posts/{{post._id}}">Edit post</a>
		<a id="delete-post" href="http://localhost:3000/posts/{{post._id}}">Delete post</a>
		<a id="logout" href="http://localhost:3000/logout" style="margin-top: -10px; margin-rigth: 22px;">Logout</a>
	{{else}}
		<a id="post-login-button" href="http://localhost:3000/login">Login</a>
		<a id="post-registration" href="http://localhost:3000/register">Registration</a>
	{{/if}}

{{#if post.file}}
	<header class="post-header" style="background-image: url('../images/user/{{post.file}}')">
		<div class="post-title">
			<h1>{{post.title}}</h1>
			<p>{{post.author}} | {{datum post.date}}</p>
		</div>
	</header>
	{{else}}
		<header class="post-header">
			<div class="post-title">
				<h1>{{post.title}}</h1>
				<p>{{post.author}} | {{datum post.date}}</p>
			</div>
		</header>
{{/if}}
<div id="post">
	<p class="content">{{post.content}}</p>
</div>
<form action="http://localhost:3000/posts/{{post._id}}", id="edit-p">
		<p>Title</p>
			<input type="text" name="edit-title" id="edit-title" value="{{post.title}}">
		<p>Content</p>
			<textarea name="edit-content" id="postedit-content" >{{post.content}}</textarea>
		<input type="submit" value="Submit" class="submit">
	</form>
<div id="author">
	<img src="/images/penguin.png" id="penguin" />
	<h2>{{post.author}}</h2>
	<p></p>
</div>
<div id="comment">
	<button id="show-comments">Show comments</button>
	<div id="comments">
		<div id="comments-list">{{> comment}}</div>
		{{#if user}}
			<div id="add-comment">
				<form action="/posts/{{post._id}}/comments" method="post" id="post-comment">
					<div id="hide">
						<h3>Add comment</h3>
						<p id="comment-a">Author</p>
						<p id="c-author" data-user="{{user.username}}">{{user.username}}</p>
						<p id="comment-c">Content</p>
						<textarea name="content" id="add-content"></textarea>
						<p id="invalid-c"></p>
						<input type="submit" value="Submit" class="submit">
					</div>
				</form>
			</div>
		{{/if}}
		<div id="edit-comment">
			<form action="http://localhost:3000/posts/{{post._id}}/comments/{{comment._id}}" id="edit-c">
				<h3>Edit comment</h3>
				<p id="edit-content">Content</p>
				<textarea name="content" id="e-content"></textarea>
				<p id="invalid-edit"></p>
				<input type="submit" value="Submit" class="submit">
			</form>
		</div>
	</div>
</div>
<div id="posts">
	<div id="next">
		{{#if next}}
			<a href="http://localhost:3000/posts/{{next._id}}">
				<h3>{{next.title}}</h3>
				<p>{{truncate next.content}}</p>
			</a>
		{{else}}
			<p>There is no next post!</p>
		{{/if}}
	</div>
	<div id="prev">
		{{#if prev}}
			<a href="http://localhost:3000/posts/{{prev._id}}">
				<h3>{{prev.title}}</h3>
				<p>{{truncate prev.content}}</p>
			</a>
		{{else}}
			<p>Theres is no previous post!</p>
		{{/if}}
	</div>
</div>