<a href="http://localhost:3000" id="post-home">Home</a>
<a  id="post-menu" href="">Menu</a>
<header id="post-header">
	<div id="post-title">
		<h1>{{title}}</h1>
		<p>{{author}} | {{date}}</p>
	</div>
</header>
<div id="post">
	<p class="content">{{content}}</p>
</div>
<div id="author">
	<img src="/images/penguin.png" id="penguin" />
	<h2>{{author}}</h2>
	<p></p>
</div>
<button id="comments">Show comments</button>
<div id="posts">
	<div id="prev">
		<a href="">
			<h3></h3>
			<p></p>
		</a>
	</div>
	<div id="next">
		<a href="">
			<h3></h3>
			<p></p>
		</a>
	</div>
</div>