<a href="http://localhost:3000" id="post-home">Home</a>
<a  id="post-menu" href="">Menu</a>
<header id="post-header">
	<div id="post-title">
		<h1>{{post.title}}</h1>
		<p>{{post.author}} | {{datum post.date}}</p>
	</div>
</header>
<div id="post">
	<p class="content">{{post.content}}</p>
</div>
<div id="author">
	<img src="/images/penguin.png" id="penguin" />
	<h2>{{post.author}}</h2>
	<p></p>
</div>
<div id="comment">
	<button id="show-comments">Show comments</button>
	<div id="comments">
		<div id="comments-list">{{> comment}}</div>
		<form action="/posts/{{post._id}}/comments" method="post" id="post-comment">
			<div id="hide">
				<h3>Add comment</h3>
				<p id="comment-a">Author</p>
				<input type="text" name="c-author" id="c-author">
				<p id="invalid-a"></p>
				<p id="comment-c">Content</p>
				<textarea name="content" id="content"></textarea>
				<p id="invalid-c"></p>
				<input type="submit" value="Submit" id="submit">
			</div>
		</form>
	</div>
</div>
<div id="posts">
	<div id="next">
		{{#if next}}
			<a href="http://localhost:3000/posts/{{next._id}}">
				<h3>{{next.title}}</h3>
				<p>{{truncate next.content}}</p>
			</a>
		{{else}}
			<p>There is no next post!</p>
		{{/if}}
	</div>
	<div id="prev">
		{{#if prev}}
			<a href="http://localhost:3000/posts/{{prev._id}}">
				<h3>{{prev.title}}</h3>
				<p>{{truncate prev.content}}</p>
			</a>
		{{else}}
			<p>Theres is no previous post!</p>
		{{/if}}
	</div>
</div>